<html>
    <body>
        <div id="head">all</div>
        <div id="backvalue">index</div>
        <div class="search_bar">
            <h1>All works</h1>
        </div>
        <div class="search_results">
            <div class="search_result clickable" href="#view_zelf">
                <div class="artwork_thumbnail zelfportret"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">Self Portrait</span>
                    <span>Rembrandt van Rijn</span>
                    <span>c. 1628</span>
                </div>
            </div>
            <div class="search_result clickable" href="#view_pauw">
                <div class="artwork_thumbnail pauw"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">Still life with Peacocks</span>
                    <span>Rembrandt van Rijn</span>
                    <span>c. 1639</span>
                </div>
            </div>
            <div class="search_result clickable" href="#view_haarlem">
                <div class="artwork_thumbnail haarlem"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">View of Haarlem from the Northwest</span>
                    <span>Jacob Isaacksz. van Ruisdael</span>
                    <span>c. 1650 - c.1682</span>
                </div>
            </div>
            <div class="search_result clickable" href="#view_korenveld">
                <div class="artwork_thumbnail korenveld"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">Wheatfield with a reaper</span>
                    <span>Vincent van Gogh</span>
                    <span>1889</span>
                </div>
            </div>
            <div class="search_result clickable" href="#view_x">
                <div class="artwork_thumbnail x"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">X Poster</span>
                    <span>Wade Guyton</span>
                    <span>2018<span>
                </div>
            </div>
            <div class="search_result clickable" href="#view_gober_untitled">
                <div class="artwork_thumbnail leg"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">Untitled Leg</span>
                    <span>Robert Gober</span>
                    <span>1989 - 1990</span>
                </div>
            </div>
        </div>
    </body>
</html>