<html>

<body>
    <div id="head">index</div>
    <div class="header">
        <h1>Welcome to the Museum!</h1>
        <h2>What would you like to do?</h2>
    </div>
    <div class="buttoncontainer">
        <div class="button clickable" href="#all">All artworks</div>
        <div class="button clickable" href="#search">Search artworks</div>
        <div class="button clickable" href="#routes">Follow a route</div>
        <div class="button clickable" href="#nearby">Display nearby artworks</div>
    </div>
</body>

</htmL>