<html>
    <body>
        <div id="head">nearby</div>
        <div id="backvalue">index</div>
        <div class="search_bar">
            <h1>Nearby artworks</h1>
            <h2>You are in: Exhibition hall 2</h2>
            <div class="bottm button clickable" href="nearby_next">Next location</div>
        </div>
        <div class="search_results">
            <div class="search_result clickable" href="#view_x">
                <div class="artwork_thumbnail x"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">X Poster</span>
                    <span>Wade Guyton</span>
                    <span>2018<span>
                </div>
            </div>
            <div class="search_result clickable" href="#view_gober_untitled">
                <div class="artwork_thumbnail leg"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">Untitled Leg</span>
                    <span>Robert Gober</span>
                    <span>1989 - 1990</span>
                </div>
            </div>
        </div>
    </body>
</html>