<html>

<body>
    <div id="head">nearby_next</div>
    <div class="search_bar">
        <h1>Nearby artworks</h1>
        <h2>You are in: Exhibition hall 3</h2>
        <div class="bottm button clickable" href="index">Next location</div>
    </div>
    <div class="search_results">
        <div class="search_result clickable" href="#view_korenveld">
            <div class="artwork_thumbnail korenveld"></div>
            <div class="artwork_details_search">
                <span class="artwork_title_search">Wheatfield with a reaper</span>
                <span>Vincent van Gogh</span>
                <span>1889</span>
            </div>
        </div>
        <div class="search_result clickable" href="#view_haarlem">
            <div class="artwork_thumbnail haarlem"></div>
            <div class="artwork_details_search">
                <span class="artwork_title_search">View of Haarlem from the Northwest</span>
                <span>Jacob Isaacksz. van Ruisdael</span>
                <span>c. 1650 - c.1682</span>
            </div>
        </div>
    </div>
</body>

</html>