<html>
    <body>
        <div id="head">search_history</div>
        <div id="backvalue">index</div>
        <div class="search_bar">
            <h1>Previously searched artworks</h1>
        </div>
        <div class="search_results">
            <div class="search_result clickable" href="#view_zelf">
                <div class="artwork_thumbnail zelfportret"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">Self Portrait</span>
                    <span>Rembrandt van Rijn</span>
                    <span>c. 1628</span>
                </div>
            </div>
            <div class="search_result clickable" href="#view_pauw">
                <div class="artwork_thumbnail pauw"></div>
                <div class="artwork_details_search">
                    <span class="artwork_title_search">Still life with Peacocks</span>
                    <span>Rembrandt van Rijn</span>
                    <span>c. 1639</span>
                </div>
            </div>
        </div>
    </body>
</html>