<html>

<body>
    <div id="head">search</div>
    <div class="search_bar">
        <h1>Search</h1>
        <div class="searchbar">Rembrandt <i class="material-icons">search</i> </div>
    </div>
    <div class="search_results clickable" href="#view_zelf">
        <div class="search_result">
            <div class="artwork_thumbnail zelfportret"></div>
            <div class="artwork_details_search">
                <span class="artwork_title_search">Zelfportret</span>
                <span>Rembrandt van Rijn</span>
                <span>1628</span>
            </div>
        </div>
        <div class="search_result clickable" href="#view_pauw">
            <div class="artwork_thumbnail pauw"></div>
            <div class="artwork_details_search">
                <span class="artwork_title_search">Stilleven met pauwen</span>
                <span>Rembrandt van Rijn</span>
                <span>1639</span>
            </div>
        </div>
    </div>
</body>

</html>