<html>

<body>
    <div id="head">search</div>
    <div id="backvalue">index</div>
    <div class="search_bar">
        <h1>Search</h1>
        <div class="searchbar">Rembrandt <i class="material-icons">search</i> </div>
        <h2 class="clickable" style="cursor: pointer; border: 1px solid black; padding: 1vh" href="#search_scan">Scan</h2>
    </div>
    <div class="search_results">
        <div class="search_result clickable" href="#view_zelf">
            <div class="artwork_thumbnail zelfportret"></div>
            <div class="artwork_details_search">
                <span class="artwork_title_search">Self Portrait</span>
                <span>Rembrandt van Rijn</span>
                <span>c. 1628</span>
            </div>
        </div>
        <div class="search_result clickable" href="#view_pauw">
            <div class="artwork_thumbnail pauw"></div>
            <div class="artwork_details_search">
                <span class="artwork_title_search">Still life with Peacocks</span>
                <span>Rembrandt van Rijn</span>
                <span>c. 1639</span>
            </div>
        </div>
    </div>
</body>

</html>