<html>

<body>
    <div id="head">view_x</div>
    <div class="info_container">
        <img class="artwork" src="images/x.jpg">
        <div class="info_container_txt">
            <h1>X Poster</h1>
            <h2>Wade Guyton - 2018</h2>
            <h5>digital print on linen - 213.4cm x 175.3cm</h5>
            <p class="art_description">Untitled, 2007, Epson UltraChrome inkjet on linen, 84 x 69 inches, WG1210</p>
            <h5>On display in exhibition hall 2</h5>
        </div>
    </div>
</body>

</html>