<div id="head">view_pauw</div>
<div class="info_container">
    <img class="artwork" src="images/pauw.jpg">
    <div class="info_container_txt">
        <h1>Still life with Peacocks</h1>
        <h2>Rembrandt van Rijn - c. 1639</h2>
        <h5>oil on canvas - 145cm x 135.5.cm</h5>
        <p class="art_description">In Rembrandt’s time, peacocks were a delicacy for the well-to-do: the meat was used as filling for pasties. After being slaughtered, the birds were hung upside down to drain their blood, as Rembrandt has depicted in this pantry. He must have been
            fascinated by the plumage’s magnificent markings and dazzling colours: blue, green and yellow ochre.</p>
    </div>
</div>