<html>

<body>
    <div id="head">view_korenveld</div>
    <div class="info_container">
        <img class="artwork" src="images/maaier.png">
        <div class="info_container_txt">
            <h1>Wheatfield with a Reaper</h1>
            <h2>Vincent van Gogh - 1889</h2>
            <h5>oil on canvas - 73.2cm x 92.7cm</h5>
            <p class="art_description">
                Van Gogh painted this walled field from his hospital room. For the first few months that he was there,
                he was not allowed to leave the grounds.
                <br>
                The reaper labours in the heat of the sun. The wheat, painted with thick gobs of yellow, undulates
                around him. For Van Gogh, wheat was a symbol of the eternal cycle of nature and the transience of life.
                He saw the reaper as 'the image of death . . . in this sense that humanity would be the wheat being
                reaped.'
                <br>
                He added, however, that this death was 'almost smiling. It's all yellow except for a line of violet
                hills – a pale, blond yellow. I myself find that funny, that I saw it like that through the iron bars of
                a cell.'
            </p>
            <h5>On display in exhibition hall 3</h5>
        </div>
    </div>
</body>

</html>