<html>
    <body>
        <div id="head">view_zelf</div>
        <div class="info_container">
            <img class="artwork" src="images/zelf.jpg">
            <div class="info_container_txt">
                <h1>Self Portrait</h1>
                <h2>Rembrandt van Rijn - c. 1628</h2>
                <h5>oil on panel - 22.6cm x 18.7cm</h5>
                <p class="art_description">As inexperienced as he is, the young Rembrandt does not shy away from experimenting. Here the light rakes his right cheek while the rest of his face is enveloped in shadow. It takes a moment to realize that he is peering out at you. Rembrandt
                    accentuated the curls of his tousled hair by drawing in the wet paint with the butt end of his paintbrush.</p>
                <h5>On display in Exhitibion Hall 1</h5>
            </div>
        </div>
    </body>
</html>