<html>

<body>
    <div id="head">view_gober_untitled</div>
    <div class="info_container">
        <img class="artwork" src="images/leg.jpg">
        <div class="info_container_txt">
            <h1>Untitled Leg</h1>
            <h2>Robert Gober 1989 - 90</h2>
            <p class="art_description">As a copy of a man's leg and foot, this work is strikingly real: its fleshy waxen
                skin, clad in leather shoe and in cotton pant and sock, sprouts actual human hair. Exactness like this
                slides over into the unsettling, a macabre tone amplified by the leg's placement, its owner having
                presumably collapsed to the floor—and then, too, he has only one leg, which issues from the wall, as if
                the architecture had eaten him. For some, it may also have a subtle fetishistic eroticism, inasmuch as
                it focuses on a narrow band of the body where men routinely and unselfconsciously show their nakedness.
            </p>
            <h5>On display in exhibition hall 2</h5>
        </div>
    </div>
</body>

</html>