<html>

<body>
    <div id="head">view_haarlem</div>
    <div class="info_container">
        <img class="artwork" src="images/haarlem.jpg">
        <div class="info_container_txt">
            <h1>View of Haarlem from the Northwest, with the Bleaching Fields in the Foreground</h1>
            <h2>Jacob Isaacksz. van Ruisdael - c.1650 / c.1682</h2>
            <h5>oil on canvas - 43cm x 38cm</h5>
            <p class="art_description">Foreigners experience the flat Dutch landscape as having a straight, low horizon
                extending under a vast sky with billowing cumulus clouds. This is how Ruisdael painted the Haarlem
                skyline in the distance, recognizable by the high roof of St Bavo’s. Lengths of cloth bleaching in the
                sun lie at the foot of the dunes in the foreground. The Haarlem linen industry relied on the pure dune
                water. </p>
            <h5>On display in exhibition hall 3</h5>
        </div>
    </div>
</body>

</html>